*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1190px;
    margin: auto;
    padding: 0 10px;
}

/* header */

.header{
    background-color: #67AEFC;
    font-style: normal;
}

.header__inner{
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.header__nav-item{
    margin-right: 30px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.header__btn{
    border-radius: 5px;
    background-color: #75E169;
    color: #fff;
    padding: 9.82px 42px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    text-transform: uppercase;
}

.header__btn:hover{
    border: 2px solid #fff;
    padding: 7.82px 40px;
}

.header__btn:active{
    color: #67AEFC;
    background-color: #fff;
}

/* header */
/* header__info */

.header__info-decor{
    position: absolute;
    margin-left: -136px;
    margin-top: -222px;
}

.header__decor1{
    position: absolute;
    margin-left: 63px;
    top: 703px;
}

.header__decor2{
    position: absolute;
    top: 275px;
    left: 404px;
    z-index: 3;
}

.header__decor3{
    position: absolute;
    top: 115px;
    left: 197px;
}

.header__decor4{
    position: absolute;
    top: 413px;
    left: 556px;
}

.header__decor5{
    position: absolute;
    top: 364px;
    left: 644px;
}

.header__decor6{
    position: absolute;
    top: 550px;
    left: 440px;
}

.header__decor7{
    position: absolute;
    top: 428px;
    left: -27px;
    z-index: 1;
}

.ellipse{
    position: fixed;
	top: 177px;
	right: 0;
    min-width: 33%;
    height: 548px;
	background: #DAECFF;
	border-radius:100% 0 0 100% / 50%;
    z-index: -1;
}
.ellipse2{
    position: fixed;
    z-index: -1;
    background: #fff;
    border: 2px solid #67AEFC;
    width: 149px;
    height: 182px;
    top: 634px;
    border-radius: 0 100% 100% 0 / 50%;
}

.header__content{
    display: flex;
    justify-content: space-between;
    min-height: 766px;
}

.header__content-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header__content-title{
    max-width: 660px;
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
    color: #484848;
}

.header__content-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    max-width: 432px;
    margin: 20px 0 58px 0;
}

.button{
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #75E169;
    padding: 23px 92px 22px 92px;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    text-transform: uppercase
}

.button:hover{
    border: 2px solid #67AEFC;
    padding: 21px 90px 20px 90px;
}

.button:active{
    color: #fff;
    background-color: #67AEFC;
}

.header__content-img{
    margin-right: -20px;
    position: relative;
}

.header__img{
    max-width: 559px;
    max-height: 549px;
    margin-top: 141px;
    position: relative;
    z-index: 2;
}

/* header__info */
/* service */

.service{
    min-height: 703px;
    background-color: #DAECFF;
    position: relative;
}

.service__content{
    padding-bottom: 120px;
    list-style-type: none;
}

#list > li > ul {
    display: none;
    background-color: #fff;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    list-style-type: none;
}

.item__box1, .item__box22, .item__box3, .item__box4, .item__box5{
    width: 100%;
    height: 100%;
    display: flex;
}

.item__box2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__box1:before, .item__box22:before, .item__box3:before, .item__box4:before, .item__box5:before{
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #75E169;
    margin: 15px 0 0 44px;
}

.underline:before{
    background-color: #67AEFC;
}

.underline1{
    transform: rotate(180deg);
}

.underline2{
    font-weight: bold ;
    font-size: 21px;
    line-height: 125%;
}

.service__item{
    background-color: #fff;
    border-radius: 15px;
    min-height: 61px;
    margin-bottom: 10px;
}

.item__box-title1, .item__box-title2, .item__box-title3, .item__box-title4, .item__box-title5{
    margin: 14px 0 0 28px;
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
}

.item__box-img1, .item__box-img2, .item__box-img3, .item__box-img4, .item__box-img5{
    margin: 23px 42px 0 0;
    float: right;
    transition: all .2s;
}

.service__inner-content{
    margin: 41px 70px 0 55px;
    padding-left: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    border-left: 1px solid #000000;
}

.service__item-inner{
    padding-bottom: 69px;
}

.service___decor{
    position: absolute;
    top:75%;
    left: 90%;
}

/* service */
/* stage */

.stage{
    min-height: 908px;
    background-color: #fff;
    position: relative;
}

.slider__container{
    margin-left: calc(50% - 595px);
    padding: 0 0 0 10px;
}


.stage-title{
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 125%;
    padding-top: 123px;
    padding-bottom: 84px;
}

.slider__item, slick-slide, slick-current, slick-active{
    width: 672px;
    height: 389px;
    border: 2px solid #67AEFC;
    border-radius: 15px;
    margin-right: 25px;
}

.slider__content{
    padding-left: 70px;
    text-align: left;
}

.slider__img{
    padding-right: 30px;
}

.slider__content-title{
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 125%;
    margin-bottom: 21px;
}

.slider__content-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    max-width: 300px;
}

.slick-initialized .slick-slide{
    display: flex;
    align-items:center;
}

.slick-arrow.slick-next{
    padding: 18px 22px 13px 26px;
    order: 3;
    margin-right: 25%;
}

.slick-arrow.slick-prev{
    padding: 18px 27px 13px 21px;
    order: 2;
    margin-right: 30px;
}

.slick-arrow{
    border: 2px solid #67AEFC;
    border-radius: 15px;
    background-color: #fff;
    transition: all .2s;
}

.slick-arrow:hover{
    background-color: #67AEFC;
    stroke: #fff;
}

.slick-track{
    margin: 25px 0 84px 0;
    order: 1;
}

.slick-slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stage__decor1{
    position: absolute;
    left: 9%;
    top: 129px;
}
.stage__decor2{
    position: absolute;
    right: 9%;
    bottom: 47px;
}

/* stage */
/* example */

.example{
    background-color: #DAECFF;
    position: relative;
}

.example__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example__content-img{
    width: 562px;
    height: 447px;
    transition: all .2s;
}

.example__content-img:hover{
    opacity: 0;
}

.example__content-imges1, .example__content-imges2, .example__content-imges3, .example__content-imges4, .example__content-imges5, .example__content-imges6{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #67AEFC;
    width: 562.95px;
    height: 447px;
    margin-bottom: 38px;
    position: relative;
}

.example__content-title, .example__content-text{
    position: absolute;
    top: 45%;
    left: 35%;
}

.example__content-text{
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    color: #fff
}


/* example */

